/* This is main style file */
/* Global Variables */
:root {
  --lightPrimaryColor: #f2f9fe;
  --primaryColor: #0c87eb;
  --secondaryColor: #049862;
  --errorColor: #f44336;
  --lightColor: #fff;
  --primaryTextColor: #2196f3;
  --primaryBorderColor: #0a69b7;
  --darkColor: #000000;
  --grayColor: #322f35;
  --lightGrayColor: #ccc;
  --snackbar-shadow-color: 0deg 0% 63%;
  --card-shadow-color: 0deg 0% 0%;
  --snackbar-shadow: 0.3px 0.5px 0.7px hsl(var(--snackbar-shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--snackbar-shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--snackbar-shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--snackbar-shadow-color) / 0.36);
  --card-shadow: 0.3px 0.5px 0.7px hsl(var(--card-shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--card-shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--card-shadow-color) / 0.34);
}
/* Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Utilities Classes */
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
  align-items: center;
}
.center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-8 {
  gap: 8px;
}
.p-8 {
  padding: 8px;
}
.py-8 {
  padding: 8px 0;
}
.px-16 {
  padding: 0 16px;
}
.rounded {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btn {
  border: none;
  cursor: pointer;
}
/* .font-16{
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
} */
.font-18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.b-2 {
  border: 2px solid;
}
.b-1 {
  border: 1px solid;
}
.b-primary {
  border-color: var(--primaryBorderColor);
}
.bg-primary {
  background-color: var(--primaryColor);
}
.bg-light {
  background-color: var(--lightColor);
}
.text-primary {
  color: var(--primaryTextColor);
}
.text-light {
  color: var(--lightColor);
}
/* Combonents */
.btn-rounded {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* Content Style */
.title {
  margin: 24px auto;
  font-size: xx-large;
}
.container {
  width: 100%;
  height: 100vh;
}
.to-do-container {
  width: 100%;
  gap: 0;
}
.to-do-container .to-do-input {
  width: 100%;
  height: 60px;
}
.to-do-container .to-do-input .input {
  flex: 1;
  width: 75%;
  height: 100%;
  color: var(--darkColor);
}
.to-do-container .to-do-input .input,
.to-do-container .to-do-input .input:focus {
  outline: none;
}
.to-do-container .to-do-input .input:focus {
  background-color: var(--lightPrimaryColor);
}
.to-do-container .to-do-input .btn-add {
  height: 100%;
}
.to-do-container .to-do-input .btn-add:hover {
  color: var(--lightColor);
  background-color: var(--primaryTextColor);
}
.to-do-container .to-do-list {
  width: 100%;
  min-height: 70px;
}
.to-do-task {
  width: 100%;
  min-height: 50px;
  padding: 0 8px;
}
.task-body{
  flex:1;
  cursor:pointer
}
.hide {
  pointer-events: none;
  background-color: var(--errorColor) !important;
  animation: fadeout-backward 2s;
  -webkit-animation: fadeout-backward 2s;
}
.reading-mark {
  color: var(--secondaryColor);
}
.task-text {
  width: 100%;
  height: 100%;
  padding: 4px 8px;
}
.reading-mark,.task-text {
  pointer-events: none;
}
.btn-edit:hover {
  background-color: var(--primaryTextColor);
}
.btn-delete {
  color: var(--errorColor);
}
.btn-delete:hover {
  background-color: var(--errorColor);
}
.btn-edit:hover,
.btn-delete:hover {
  color: var(--lightColor);
}
.btn-edit i,
.btn-delete i {
  pointer-events: none;
}
.btn-edit:disabled {
  pointer-events: none;
  color: var(--lightColor);
  background-color: var(--lightGrayColor);
}
.snackbar {
  min-width: 250px;
  height: 50px;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  right: 24px;
  bottom: 24px;
  background-color: var(--grayColor);
  box-shadow: var(--snackbar-shadow);
}
.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.706);
}
.card {
  min-width: 250px;
  box-shadow: var(--card-shadow);
  border-color: var(--grayColor);
}
.card-header {
  background-color: var(--grayColor);
}
.card-title {
  flex: 1;
  text-align: center;
}
.btn-close {
  width: 30px;
  height: 30px;
  color: var(--darkColor);
}
.card-text {
  width: 100%;
  outline: none;
}
.btn-save {
  width: 100%;
  height: 40px;
}
/* MediaQuery */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .to-do-task {
    flex-direction: column;
    padding: 8px;
  }
  .task-body{
    flex-direction:column;
    width: 100%;
  }
  .task-text {
    flex: 1;
    padding: 16px 8px;
    justify-content: center;
  }
  .btn-edit,
  .btn-delete {
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  .to-do-container {
    width: 70%;
  }
  .task-text {
    flex: 1;
  }
}
/* Animations */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 24px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 24px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout-backward {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

@keyframes fadeout-backward {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}
